<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>
    <%= connectorTitle %>
  </title>
  <!-- inject:css -->
  <!-- endinject -->
</head>

<body>
  <div id='app'>
    Loading...
  </div>
  </form>
  <!-- inject:js -->
  <!-- endinject -->
  <script type='text/javascript'>
    <%=libraryName%>.
    <%=connectorTitle%> > ConnectorConfig.render(document.getElementById('app'), {
      webhookUrl: '<%%=webhookUrl%>',
      user: '<%%=user%>',
      appType: '<%%=appType%>',
      groupName: '<%%=groupName%>',
      state: '<%%=state%>'
    });
  </script>
</body>

</html>