<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title><%= title %>: Remove</title>
  <!-- inject:css -->
  <!-- endinject -->
  <style>
    body {
      opacity: 1.0;
    }
  </style>
</head>

<body>
   <div id='app'>
       You can just add stuff here if you want to clean up when removing the tab. For instance when you have stored data in an external repository.
   </div>
   <script src="https://statics.teams.microsoft.com/sdk/v0.4/js/MicrosoftTeams.min.js"></script>
  <!-- inject:js -->
  <!-- endinject -->

</body>

</html>