<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title><%= connectorTitle %></title>
  <!-- inject:css -->
  <!-- endinject -->
  <style>
    body {
      opacity: 1.0;
    }
  </style>
</head>

<body class="ts-middle">
  <div id='app'>
    <p>Welcome to the <%= connectorTitle%> Connection page</p>
    <p>
            Connect it!
            <br/>
            <a href="https://outlook.office.com/connectors/Connect?state=myAppsState&app_id=<%=connectorId%>&callback_url=<%=host%>/api/connector/connect"><img src="https://o365connectors.blob.core.windows.net/images/ConnectToO365Button.png" alt="Connect to Office 365"></img></a>
        </p>
  </div>
  <!-- inject:js -->
  <!-- endinject -->
</body>

</html>