<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>
        <%= title %>
    </title>
    <!-- inject:css -->
    <!-- endinject -->
</head>

<body>
    <h1>
        Welcome to the <em><%= title %></em></h1>
    <p>
        <%= description %>

        <% if (botType == 'botframework') { %>
            <a href='https://teams.microsoft.com/l/chat/0/0?users=28:{botid}'><img height="30" width="113" src='https://dev.botframework.com/Client/Images/Add-To-MSTeams-Buttons.png'></a>
        <% } %>
    </p>
</body>

</html>