name: Build generator-teams

on: [push, pull_request]

jobs:
  build:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [16.x, 18.x]

    steps:
    - uses: actions/checkout@v2
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}
    - run: npm install
      working-directory: packages/generator-teams
    - run: npm run test
      working-directory: packages/generator-teams
    - run: npm run build
      working-directory: packages/generator-teams
      env:
        CI: true
